/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    /*line-height: 1.4;*/
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: white;
}

.contenedor{
    width: 98%;
    margin: 0 auto;
    
}

@media only screen and (min-width:480px){
    .contenedor{
        
        width: 95%;
        
    }
}

@media only screen and (min-width:768px){
    .contenedor{
        
        width: 90%;
        
    }
}

@media only screen and (min-width:992px){
    .contenedor{
        
        width: 90%;
        max-width: 1100px;
        
    }
}

.button{
    background-color: rgb(119,119,119);
    padding: 10px 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    margin-top: 20px;
    display: inline-block;
    transition: all .3s ease-in-out;
    border: 2px solid rgb(97, 164, 150);
    color: rgb(97, 164, 150);
    
}

.button:hover{
    background-color: rgb(97, 164, 150);
    color: white;
}

h2{
    color: rgb(97, 164, 150);
    font-family: 'Oswald', sans-serif;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;

}

header{
    background-color: rgb(119,119,119);
    padding: 20px 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-sizing: inherit;
}

div.logo{
    width: 80%;
    float: left;
    
}

div.logo img{
    width: 100%;
  
}

@media only screen and (min-width:768px){
    
    div.logo{
    
        width: 15%;
        
    }
}

nav.navegacion-principal{
    display: none;
}

nav.navegacion-principal a{
    font-family: 'oswald', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
   -webkit-transition: all .3s ease-in-out;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}


nav.navegacion-principal a:hover{
    background-color: rgb(97, 164, 150);
}

nav.navegacion-principal a:last-child{
    border: 2px solid rgb(97, 164, 150);
    color: rgb(97, 164, 150);
}

nav.navegacion-principal a:last-child:hover{
    color: white;
}


@media only screen and (min-width:768px){
    
    nav.navegacion-principal{
        width: 85%;
        float: right;
        text-align: right;
        display: block;
    }
    
    nav.navegacion-principal a{
        
        display: inline-block;
        padding: 10px 10px;
        width: auto;
        text-align: center;
        margin: 20px 25px 0 0;
    
    }
    
    
}

.seccion{
    padding: 30px 0;
}

.seccion p{
    font-size: 1.2em;
    text-align: center;
}

ul.campos li{
    float: left;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    list-style: none;
}

p{
    text-transform: uppercase;
    font-family: 'oswald', sans-serif;
    font-weight: bold;
}

p.imagen{
    text-align: center;
    margin: 0 auto;
}

.acciones{
    text-align: center;
    margin: 0 auto;
}

.panel{
    margin: 20px 30px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 10px auto;
    
}

.shadow{
     background-color: #F4F4F4;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

legend{
    text-transform:capitalize;
    font-family: 'oswald', sans-serif;
    font-size: 1em;
}

div.imagen p{
    text-align: center;
}


/*barra de busqueda para editar o eliminar*/

.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	position: static;
}

.flexsearch--form {
	overflow: hidden;
	position: relative;
    text-align: center;
   
}


.flexsearch--input-wrapper {
	/*padding: 0 45px 0 0;  /*Right padding for submit button w */
	overflow: hidden;
}

.flexsearch--input {
  width: 30%;
}

.flexsearch {
  align-content: center;   
  /*padding: 0 25px 0 0; /* Padding for other horizontal elements*/ 
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 45px;
  padding: 0 46px 0 10px;
	border-color: #888;
  border-radius: 35px;  /*(height/2) + border-width */
  border-style: solid;
	border-width: 2.5px;
  margin: 20px 0 25px 0;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 22px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.flexsearch--submit {
  position: absolute;
	right: 33%;
	top: 0;
	display: block;
	width: 40px;
	height: 40px;
  padding: 0;
  border: none;
	margin-top: 25px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 40px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: rgb(97, 164, 150);
}

.flexsearch--input:focus.flexsearch--submit {
 	color: rgb(97, 164, 150); 
}

.flexsearch--submit:hover {
  color: rgb(97, 164, 150);
  cursor: pointer;
}

::-webkit-input-placeholder {
	color:black;  
}

input:-moz-placeholder {
  color: black;
}
*/

/*tabla de resultados*/
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th:nth-child(1) {
  width: 5%;
}

thead th:nth-child(2) {
  width: 15%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 15%;
}


thead th:nth-child(5) {
  width: 15%;
}


thead th:nth-child(6) {
  width: 15%;
}


thead th:nth-child(7) {
  width: 20%;
}

th, td {
  padding: 20px;
}

/*estetica de la tabla*/
thead th, tfoot th {
  font-family: 'Oswald', sans-serif;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

.talla{
    display: inline;
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
